<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1V5bqiv7s7TNf3sVc3sOv4hh0SVhOKn0</string>
	<key>GCM_SENDER_ID</key>
	<string>309229886092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.creativespaces.Reunionly</string>
	<key>PROJECT_ID</key>
	<string>projectreunionly</string>
	<key>STORAGE_BUCKET</key>
	<string>projectreunionly.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309229886092:ios:5a2ba205bd0bc8d5c7f9a9</string>
</dict>
</plist>